<h1 class="heading-large"><%= t('.heading') %></h1>
<p><%= t(".description") %></p>
<p><%= t(".acceptable_file_formats") %></p>
<%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>
  <%= f.form_group(:base) do %>
    <%= f.error_message(:base) %>
    <%= f.file_field :benefit_area_file, aria: { labelledby: "file-upload" } %>
  <% end %>
  <% if params[:js_enabled] == "1" %>
    <div class="form-group">
      <%= link_to t(".draw_outline_instead"), project_step_path(id: @project.to_param, step: @project.step) %>
    </div>
  <% end %>
  <%= f.submit t("save_and_continue_label"), class: 'button' %>
<% end %>
