<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for project, url: save_project_step_path(id: project.to_param, step: project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= heading %></h1>
        <div class="step-form">
          <div class="contributors form-group">
            <label class='form-label-bold'>What is the Contributor Name?</label>
            <% project.current_funding_contributors.each_with_index do |contributor, index| %>
              <div class="form-group">
                <div>
                  <%= fields_for "name[#{index}]", contributor do |builder| %>
                    <%= builder.hidden_field :previous, value: contributor %>
                    <%= builder.text_field :current, value: contributor, class: 'column-one-half' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
