<div class="sidebar">
  <header class="sidebar-heading">
    <h1 class="heading-small">Project:<span><%= @project.reference_number %></span></h1>
    <%= link_to t("overview_link"), pafs_core.project_path(@project) %>
  </header>
  <nav class="sidebar-nav" role="navigation">
    <section>
      <h1 class="heading-small">Project details</h1>
      <ul>
        <%= nav_step_item(@project, :project_name) %>
        <%= nav_step_item(@project, :project_type) %>
        <%= nav_step_item(@project, :financial_year) %>
        <%= nav_step_item(@project, :key_dates) %>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Funding</h1>
      <ul>
        <%= nav_step_item(@project, :funding_sources) %>
        <%= nav_step_item(@project, :funding_values) %>
        <%= nav_step_item(@project, :earliest_start) %>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Location</h1>
      <ul>
        <li>
          <%= nav_step_item(@project, :location) %>
        </li>
        <li>
          <%= nav_step_item(@project, :map) %>
        </li>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Risks and outcomes</h1>
      <ul>
        <%= nav_step_item(@project, :risks) %>
        <%= nav_step_item(@project, :flood_protection_outcomes) %>
        <%= nav_step_item(@project, :coastal_erosion_protection_outcomes) %>
        <%= nav_step_item(@project, :standard_of_protection) %>
        <%= nav_step_item(@project, :approach) %>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Environmental outcomes</h1>
      <ul>
        <%= nav_step_item(@project, :surface_and_groundwater) %>
        <%= nav_step_item(@project, :improve_spa_or_sac) %>
        <%= nav_step_item(@project, :habitat_creation) %>
        <%= nav_step_item(@project, :remove_fish_barrier) %>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Urgency</h1>
      <ul>
        <%= nav_step_item(@project, :urgency) %>
      </ul>
    </section>
    <section>
      <h1 class="heading-small">Partnership funding</h1>
      <ul>
        <%= nav_step_item(@project, :funding_calculator) %>
      </ul>
    </section>
  </nav>
</div>
