<div class="step-container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= render partial: 'shared/navigator', project: @project %>
    </div>
    <div class="column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <%= f.error_header %>
          <h1 class="heading-large"><%= heading %></h1>
          <% if local_assigns.has_key? :lede %>
            <p><%= lede %></p>
          <% end %>
          <%= f.hidden_field :id %>
          <fieldset class="inline">
            <legend class="visuallyhidden"><%= heading %></legend>
            <%= f.radio_button_group(yes_no_field,
                                     [ { value: "true", options: { label: t("yes_option") } },
                                       { value: "false", options: { label: t("no_option") } }]) %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
