<h1 class="heading-large"><%= t(".heading") %></h1>
<p><%= t(".description") %></p>
<div>
  <ul class="list list-bullet">
    <li><%= t(".rma") %></li>
    <li><%= t(".pso") %></li>
    <li><%= t(".apt") %></li>
  </ul>
</div>
<%= pafs_form_for @account_request do |f| %>
  <div class="form-group">
    <%= f.text_field :first_name, class: "form-control" %>
    <%= f.text_field :last_name, class: "form-control" %>
    <%= f.text_field :email, class: "form-control" %>
    <%= f.text_field :telephone_number, class: "form-control", hint: t(".telephone_number_hint_html") %>
    <%= f.text_field :organisation, class: "form-control" %>
    <%= f.text_field :job_title, class: "form-control" %>
  </div>
  <%= f.submit t(".submit_label"), class: 'button' %>
<% end %>

