<% scope = "pafs_core.projects.steps.funding_calculator" %>
<%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>
  <%= f.hidden_field :funding_calculator_file_name %>
  <%= f.error_header %>
  <div class="step-form">
    <h1 class="heading-large"><%= t('heading', scope: scope) %></h1>
    <p><%= t('lede', scope: scope) %></p>
    <p><%= t('version_statement', scope: scope) %></p>
    <p><strong><%= t('version_question', scope: scope) %></strong></p>

    <div class="form-group">
      <%= f.form_group(:base) do %>
        <%= f.error_message(:base) %>

        <fieldset class="inline">
          <legend class="visuallyhidden">Version</legend>
          <%= f.radio_button_group(:expected_version,
                                    [ { value: "v9", options: { label: t(:yes_option) } },
                                      { value: "v8", options: { label: t(:no_option) } }]) %>
        </fieldset>

        <%= render partial: 'pafs_core/projects/steps/funding_calculator_upload_version/v8' %>
        <%= render partial: 'pafs_core/projects/steps/funding_calculator_upload_version/v9' %>

        <div class='upload-section'>
          <h3 class="heading-medium" id="file-upload"><%= t("upload_heading", scope: scope) %></h3>

          <%= f.file_field :funding_calculator,
                          accept: @project.acceptable_funding_calculator_types,
                          aria: { labelledby: "file-upload" } %>
        </div>
      <% end %>
    </div>
    <div class='upload-section'>
      <%= f.submit t("upload_and_continue_label"), class: 'button' %>
    </div>
    <div class="grid-row headroom">
      <div class="column-two-thirds">
        <p><%= t('version_guidance', scope: scope).html_safe %></p>

        <details>
          <summary role="button" aria-controls="calc-help-needed">
            <span class="summary"><%= t('if_you_need_help', scope: scope) %></span>
          </summary>
          <div class="panel panel-indent panel-border-narrow" id="calc-help-needed">
            <p><%= t('contact_your_pso', scope: scope) %> </p>

          </div>
        </details>
      </div>
    </div>
  </div>
<% end %>
