<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
          <p><%= t(".description") %>:
            <ul class="list list-bullet indent">
              <li><%=t(".example1")%></li>
              <li><%=t(".example2")%></li>
            </ul>
          </p>
          <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">Explain how your project will achieve the outcomes</legend>
            <%= f.label :approach, t('.heading'), class: "visuallyhidden" %>
            <%= f.text_area :approach, class: "form-control form-wide", cols: 30, rows: 10,
              hint: t(".example_text"), label: :none, group_class: "form-group" %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
