<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <div class="step-form vertical-squash">
          <div class="form-group">
            <fieldset>
              <legend class="visuallyhidden">Gateway 3 date</legend>
              <%= f.month_and_year(:award_contract, hint: t(".example_text")) %>
            </fieldset>
          </div>
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
