<div class="grid-row">
  <div class="column-two-thirds">
    <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>
      <%= f.error_header %>
      <h1 class="heading-large" id="benefit-area"><%= t('.heading') %></h1>
      <p><%= t(".description") %></p>
      <p><%= t(".acceptable_file_formats") %></p>
      <%= f.form_group(:base) do %>
        <%= f.error_message(:base) %>
        <%= f.label :benefit_area_file, t('.benefit_area_file_label'),
          class: "visuallyhidden" %>
        <%= f.file_field :benefit_area_file,
          accept: @project.acceptable_benefit_area_types,
          aria: { labelledby: "benefit-area" } %>
        <%= f.hidden_field :id %>
      <% end %>
      <%= f.submit t("upload_and_continue_label"), class: 'button' %>
    <% end %>
  </div>
</div>
<div class="grid-row headroom">
  <div class="column-two-thirds">
    <details role="group">
      <summary role="button" aria-controls="shapefile-instructions">
        <span class="summary">How to create a shapefile</span>
      </summary>
      <div class="panel panel-indent panel-border-narrow" id="shapefile-instructions">
        <p>Use the free <a href='https://google.com', target='_blank'>Mapping Tool (opens in a new window).</a></p>

        <ul>
          <li>Use the polygon option to draw the area of benefit</li>
          <li>Export the area of benefit as a zip file</li>
          <li>Browse to and upload the zip file</li>
        </ul>
      </div>
    </details>
    
    <details role="group">
      <summary role="button" aria-controls="shapefile-help">
        <span class="summary">Unable to create a shapefile</span>
      </summary>
      <div class="panel panel-indent panel-border-narrow" id="shapefile-help">
        <p>If you are unable to upload or create a shapefile, contact your local partnership and strategic overview
        officer and they will be able to help you.</p>
      </div>
    </details>
  </div>
</div>
