<div class="grid-row">
  <div class="column-two-thirds">
    <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step), html: { multipart: true } do |f| %>
      <%= f.error_header %>
      <h1 class="heading-large" id="benefit-area"><%= t('.heading') %></h1>
      <p><%= t(".description") %></p>
      <p><%= t(".acceptable_file_formats") %></p>
      <%= f.form_group(:base) do %>
        <%= f.error_message(:base) %>
        <%= f.label :benefit_area_file, t('.benefit_area_file_label'),
          class: "visuallyhidden" %>
        <%= f.file_field :benefit_area_file,
          accept: @project.acceptable_benefit_area_types,
          aria: { labelledby: "benefit-area" } %>
        <%= f.hidden_field :id %>
      <% end %>
      <%= f.submit t("upload_and_continue_label"), class: 'button' %>
    <% end %>
  </div>
</div>
<div class="grid-row headroom">
  <div class="column-two-thirds">
    <details role="group">
      <summary role="button" aria-controls="shapefile-instructions">
        <span class="summary">How to create a shapefile</span>
      </summary>
      <div class="panel panel-indent panel-border-narrow" id="shapefile-instructions">
        <p>Use the free <a href='https://magic.defra.gov.uk/magicmap.aspx', target='_blank'>Mapping Tool (opens in a new window).</a></p>

        <details role="group">
          <summary role="button" aria-controls="polygon-instructions">
            <span class="summary">Here are simple steps to draw your polygon:</span>
          </summary>
          <div class="panel panel-indent panel-border-narrow" id="polygon-instructions">
            <p>Follow these simple steps to create and upload your polygon:</p>
            <ol class="instructions">
              <li>Click on the Mapping tool link above to open the Magic Map tool</li>
              <li>
                Use the search field on the top left-hand corner, to zoom in on your area of benefit. 
                The black arrow within the search allows you to choose your preferred method to zoom in 
                (e.g. postcode, grid ref. etc)
              </li>
              <li>Click on the 'Drawing Tools' pallet icon</li>
              <li>Click on the Polygon (or Freehand Polygon) icon</li>
              <li>Click to start and finish your polygon drawing</li>
              <li>If you want to start again you can use the X icon to clear</li>
              <li>Click on the ‘Export’ button. The Shapefile ZIP will download to your machine.</li>
              <li>Go to your computer download folder, to view your file, at this point you can rename</li>
              <li>Return to PAFs, then upload and continue</li>
            </ol>
          </div>
        </details>
      </div>
    </details>

    <details role="group">
      <summary role="button" aria-controls="shapefile-help">
        <span class="summary">Unable to create a shapefile</span>
      </summary>
      <div class="panel panel-indent panel-border-narrow" id="shapefile-help">
        <p>If you are unable to upload or create a shapefile, contact your local partnership and strategic overview
        officer and they will be able to help you.</p>
      </div>
    </details>
  </div>
</div>
