<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <% scope = "pafs_core.projects.steps.map" %>
      <%= pafs_form_for @project,
        url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <div class="step-form">
          <h1 class="heading-large" id="file-context"><%= t('.heading') %></h1>
          <div class="form-group">
            <table>
              <thead>
                <tr>
                  <th><%= t(".filename_title") %></th>
                  <th><%= t(".uploaded_title") %></th>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <%= link_to t(".download_file_html",
                                  file: @project.benefit_area_file_name),
                                  download_benefit_area_file_project_path(@project.to_param),
                                  aria: { describedby: "file-context" } %>
                </td>
                <td><%= l @project.benefit_area_file_updated_at %></td>
                <td>
                  <%= link_to t(".delete_label_html"),
                    delete_benefit_area_file_project_path(@project.to_param),
                    aria: { describedby: "file-context" } %>
              </td>
                </tr>
              </tbody>
            </table>
          </div>
          <%= f.submit t("continue_label"), class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
