<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <%= f.error_header %>
          <h1 class="heading-large"><%= t('.heading') %></h1>
          <p><%= t('.lede') %></p>

          <%= f.form_group(:carbon_cost_build) do %>
            <%= f.error_message(:carbon_cost_build) %>
            <%= f.label(:carbon_cost_build, class: "visuallyhidden") %>
            <%= f.number_field_without_label(:carbon_cost_build,
                  class: "form-control form-medium", min: 0, step: 1) %>
              <span>Metric Tonnes of Carbon</span>
          <% end %>

          <%= f.form_group(:carbon_cost_operation) do %>
            <%= f.error_message(:carbon_cost_operation) %>
            <%= f.label(:carbon_cost_operation, class: "visuallyhidden") %>
            <%= f.number_field_without_label(:carbon_cost_operation,
                  class: "form-control form-medium", min: 0, step: 1) %>
              <span>Metric Tonnes of Carbon</span>
          <% end %>

          <%= f.form_group(:carbon_sequestered) do %>
            <%= f.error_message(:carbon_sequestered) %>
            <%= f.label(:carbon_sequestered, class: "visuallyhidden") %>
            <%= f.number_field_without_label(:carbon_sequestered,
                  class: "form-control form-medium", min: 0, step: 1) %>
              <span>Metric Tonnes of Carbon</span>
          <% end %>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

