<% content_for :page_title, make_page_title(t("confidence_homes_better_protected", scope: "page_titles")) %>

<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <div class="step-form">
          <div class ="form-group">
            <%= f.hidden_field :id %>
            <fieldset>
              <legend class="visuallyhidden"><%= t(".heading") %></legend>
              <% PafsCore::Confidence::CONFIDENCE_VALUES.each do |value| %>
                <%= f.radio_button :confidence_homes_better_protected, 
                      value,
                      label: confidence_band_label(:homes_better_protected, value) 
                %>
              <% end %>
            </fieldset>
          </div>
          <div class ="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

