<% last_year = @project.financial_year_options.last + 1 %>
<% content_for :page_title,
    make_page_title(t("financial_year",
                      year: last_year,
                      scope: "page_titles")) %>
<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p><%= t('.lede') %></p>
        <div class="step-form">
          <div class ="form-group">
            <%= f.hidden_field :id %>
            <% @project.financial_year_options.each do |year| %>
              <%= f.radio_button :project_end_financial_year, year, label: "April #{year} to March #{year + 1}" %>
            <% end %>
          </div>
          <div class="form-group">
            <%= link_to t('.next_step_link_text', year: last_year),
              action: "step",
              id: @project,
              step: :financial_year_alternative %>
          </div>
          <div class ="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
