<div class="step-container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= render partial: 'shared/navigator', project: @project %>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t('.heading') %></h1>
      <p class="lede">This information is used to select the years for the funding and outcome tables</p>
      <h3 class="heading-medium"><%= t('.sub_heading') %></h3>
      <ul class="list list-bullet">
        <li>A financial year runs from 1 April to 31 March in the subsequent year, for example April 2017 to March 2018.</li>
        <li>Do not include any financial year in which there are maintenance costs, as these costs are the responsibility of the risk management authority promoting the scheme.</li>
      </ul>
      <div class="step-form">
        <%= form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <div class="form-group">
            <%= f.label :project_end_financial_year, t(".project_end_financial_year_label"), class: "form-label" %>
            <div class="form-hint"><%= t(".project_end_financial_year_hint") %></div>
            <%= f.number_field :project_end_financial_year, in: 2017...2100, class: "form-control form-year" %>
          </div>
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
