<div class="step-container">
  <div class="grid-row">
    <div class="column-three-quarters">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p><%= t('.lede') %></p>
        <div class="step-form">
          <%= f.form_group :base do %>
            <%= f.error_message(:base) %>
            <div class="scroll-horz">
              <fieldset>
                <legend class="visuallyhidden">What is the estimated spend for each financial year</legend>
                <table class="funding-table hidden-totals">
                  <thead>
                    <tr>
                      <th class="financial-year-column"><%= t(".financial_year_label") %></th>
                      <% @project.selected_funding_sources.each do |fs| %>
                        <th class="data-column <%= "#{fs}-column" %>"><%= t(".#{fs}_label") %></th>
                      <% end %>
                      <th class="data-total"><%= t(".total_label") %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <%= f.fields_for :funding_values, @project.current_funding_values do |builder| %>
                      <tr>
                        <td class="financial_year">
                          <%= builder.hidden_field :financial_year %>
                          <%= builder.hidden_field :id %>
                          <%= formatted_financial_year(builder.object.financial_year) %>
                        </td>
                        <% @project.selected_funding_sources.each do |fs| %>
                          <% if PafsCore::FundingSources::AGGREGATE_SOURCES.include?(fs) %>
                            <td class="numeric">
                              <%= builder.object.send(fs).sum(:amount).to_i %>
                            </td>
                          <% else %>
                            <td class="<%= funding_table_cell(builder.object.financial_year, fs) %>">
                              <%= builder.label fs, class: "visuallyhidden" do -%>
                                <%= "#{t(".#{fs}_label")} #{ formatted_financial_year(builder.object.financial_year) }" -%>
                              <% end -%>
                              <%= builder.number_field_without_label(fs,
                                                                    class: "funding-value",
                                                                    min: 0,
                                                                    step: 1,
                                                                    value: builder.object.send(fs).to_i)
                                                                    %>
                            </td>
                          <% end %>
                        <% end %>
                        <td class="row-total numeric <%= fy_total_class(builder.object.financial_year) %>">
                          <%= builder.object.total %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td><%= t(".total_label") %></td>
                      <% @project.selected_funding_sources.each do |fs| %>
                        <td class="numeric <%= fs %>-total">Total here</td>
                      <% end %>
                      <td class="numeric grand-total">Total</td>
                    </tr>
                  </tfoot>
                </table>
              </fieldset>
            </div>
            <% end %>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
