<div class="step-container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= render partial: 'shared/navigator', locals: { project: @project } %>
    </div>
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header("Check your details", "The following error(s) prevented the form from being saved:") %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p class="lede"><%= t('.lede') %></p>
        <%= f.hint_text t('.example_text') %>
        <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">What are the expected finding sources for your proposed project?</legend>
            <%= f.form_group :base do %>
              <%= f.check_box :fcerm_gia %>
              <%= f.check_box :local_levy %>
              <%= f.check_box :internal_drainage_boards %>
              <%= f.check_box :public_contributions do %>
                <%= f.text_area :public_contributor_names, class: "form-control", cols: 30, rows: 2, hint: t(".public_sector_example"), label: t(".list_contributors_label") %>
              <% end %>
              <%= f.check_box :private_contributions do %>
                <%= f.text_area :private_contributor_names, class: "form-control", cols: 30, rows: 2, hint: t(".private_sector_example"), label: t(".list_contributors_label") %>
              <% end %>
              <%= f.check_box :other_ea_contributions do %>
                <%= f.text_area :other_ea_contributor_names, class: "form-control", cols: 30, rows: 2, hint: t(".ea_example"), label: t(".list_contributors_label") %>
              <% end %>
              <%= f.check_box :growth_funding %>
              <%= f.check_box :not_yet_identified %>
            <% end %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

