<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>
        <%= f.error_header %>
        <%= f.hidden_field :id %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">Select the type of your proposed project</legend>
            <%= f.form_group(:project_type) do %>
              <%= f.error_message(:project_type) %>
              <% PafsCore::PROJECT_TYPES.each do |pt| %>
                <%= f.radio_button :project_type, pt.to_s, label: project_type_label(pt) %>
              <% end %>
            <% end %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
