<div class="step-container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= render partial: 'shared/navigator', project: @project %>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-large"><%= t('.heading') %></h1>
      <div class="step-form">
        <%= form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <div class="form-group">
            <h3 class="heading-medium">The project name should:</h3>
            <ul class="list-bullet">
              <li>be clear and easy to understand for others</li>
              <li>not contain any abbreviations unlikely to be clear to others</li>
              <li>refer to the location and the river (where relevant)</li>
              <li>refer to the nature of the work (for example flood alleviation scheme)</li>
              <li>refer to the project phase or period (where relevant)</li>
            </ul>
          </div>
          <div class="form-group">
            <%= f.label :name, t(".project_name_label"), class: "form-label" %>
            <div class="form-hint">
              Example 1: South Chesham River Colne Flood Alleviation Scheme,<br/>
              Example 2: Clacton-on-Sea Coastal Erosion Project Phase 
            </div>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
