<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: { action: "save", id: @project.to_param, step: @project.step } do |f| %>
        <%= f.error_header %>
        <%= f.hidden_field :id %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p><%= t('.description') %></p>
        <div class="step-form">
          <fieldset>
            <%= f.form_group :rma_name do %>
              <%= f.error_message(:rma_name) %>
              <% current_resource.areas.each do |user_area| %>
                <%= f.radio_button :rma_name, user_area.name.to_s, label: user_area.name %>
              <% end %>
            <% end %>
          </fieldset>
        </div>
        <div class="step-form">
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

