<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p><%= t('.lede') %></p>
        <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">Select which risks your project protects against</legend>
            <%= f.form_group :base do %>
              <%= f.error_message(:base) %>
              <%= f.check_box :fluvial_flooding %>
              <%= f.check_box :tidal_flooding %>
              <%= f.check_box :groundwater_flooding %>
              <%= f.check_box :surface_water_flooding %>
              <%= f.check_box :sea_flooding %>
              <%= f.check_box :coastal_erosion %>
            <% end %>
        </fieldset>
        <div class="form-group">
          <%= f.submit t("save_and_continue_label"), class: 'button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
