<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="step-form">
        <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
          <%= f.error_header %>
          <%= f.hidden_field :id %>
          <h1 class="heading-large"><%= t('.heading') %></h1>
          <p><%= t(".description") %></p>
          <%= f.form_group(:coastal_protection_before) do %>
            <%= f.error_message(:coastal_protection_before) %>
            <fieldset>
              <legend class="visuallyhidden"><%= t(".heading") %></legend>
              <% @project.coastal_erosion_before_options.each_with_index do |option, index| %>
                <%= f.radio_button :coastal_protection_before, index,
                  label: @project.standard_of_protection_label(option) %>
              <% end %>
            </fieldset>
          <% end %>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
