<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header t("error_heading"), "" %>
        <%= f.hidden_field :id %>
        <% heading = I18n.t("#{@project.urgency_reason}_label", scope: "pafs_core.urgency_details") %>
        <h1 class="heading-large"><%= heading %></h1>
        <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">Explain why your project is urgent</legend>
            <%= f.label :urgency_details, heading, class: "visuallyhidden" %>
            <%= f.text_area :urgency_details, class: "form-control form-wide", cols: 30, rows: 10, hint: t(".example_text"), label: :none %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

