<div class="step-container">
  <div class="grid-row">
    <div class="column-one-third">
      <%= render partial: 'shared/navigator', project: @project %>
    </div>
    <div class="column-two-thirds">
      <%= pafs_form_for @project, url: save_project_step_path(id: @project.to_param, step: @project.step) do |f| %>
        <%= f.error_header %>
        <%= f.hidden_field :id %>
        <h1 class="heading-large"><%= t('.heading') %></h1>
        <p class="lede"><%= t('.lede',) %></p>
        <ul class="list list-bullet">
          <li><%= urgency_reason_text(@project.urgency_reason) %></li>
        </ul>
        <div class="step-form">
          <fieldset>
            <legend class="visuallyhidden">Explain why your project is urgent</legend>
            <%= f.text_area :urgency_details, class: "form-control form-wide", cols: 30, rows: 10, hint: t(".example_text"), label: t(".urgency_details_label") %>
          </fieldset>
          <div class="form-group">
            <%= f.submit t("save_and_continue_label"), class: 'button' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

