<article class="summary-item" aria-labelledby="carbon">
  <% if project.carbon_started? %>
    <div class="summary-item-content">
      <h2 class="heading-medium" role="heading" id="carbon">
        <%= project.summary_label(:carbon_title) %>
      </h2>
      <div class="grid-row">
        <div class="column-three-quarters">
          <table class="full-table">
            <thead>
              <tr>
                <th class="visuallyhidden">Category</th>
                <th class="visuallyhidden">Carbon amount in metric tonnes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= project.summary_label(:carbon_cost_build) %></td>
                <td class="align-right"><%= number_to_human(project.carbon_cost_build, significant: false, units: { unit: 'tonnes' }) %></td>
              </tr>
              <tr>
                <td><%= project.summary_label(:carbon_cost_operation) %></td>
                <td class="align-right"><%= number_to_human(project.carbon_cost_operation, significant: false, units: { unit: 'tonnes' }) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column-one-quarter">
          <% if project.draft? %>
            <% if can_edit_project_sections?(project) -%>
              <div class="change-link">
                <%= link_to pafs_core.project_step_path(id: project.to_param, step: :carbon_cost_build) do -%>
                  Change<span class="visually-hidden"> the <%= project.summary_label(:carbon).downcase %></span>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% else %>
    <div class="add-row">
      <div class="grid-row">
        <div class="column-three-quarters">
          <h2 class="heading-medium" role="heading" id="carbon">
            <%= project.summary_label(:carbon_title) %>
          </h2>
        </div>
        <div class="column-one-quarter">
          <% unless project.archived? %>
            <% if can_edit_project_sections?(project) -%>
              <div class="add-link">
                <%= link_to pafs_core.project_step_path(id: project.to_param, step: :carbon_cost_build) do -%>
                  Add<span class="visually-hidden"> <%= project.summary_label(:carbon_title).downcase %></span>
                <% end -%>
              </div>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</article>
