<article class="summary-item" aria-labelledby="key-dates">
  <% if project.key_dates_started? %>
    <h2 class="heading-medium" role="heading" id="key-dates">Important dates</h2>
    <ol class="summary-list underlined-items">
      <li>
        <div class="grid-row">
          <div class="column-one-half">
            <%= t(".start_outline_business_case_label") %>
          </div>
          <div class="column-one-quarter align-right">
            <%= project.start_outline_business_case_date %>
          </div>
          <div class="column-one-quarter align-right">
            <span class="change-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :start_outline_business_case_date) do -%>
                Change<span class="visually-hidden"> the <%= t(".start_outline_business_case_label").downcase %></span>
              <% end -%>
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-row">
          <div class="column-one-half">
            <%= t(".award_contract_label") %>
          </div>
          <div class="column-one-quarter align-right">
            <%= project.award_contract_date %>
          </div>
          <div class="column-one-quarter align-right">
            <span class="change-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :award_contract_date) do -%>
                Change<span class="visually-hidden"> the <%= t(".award_contract_label").downcase %> date</span>
              <% end -%>
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-row">
          <div class="column-one-half">
            <%= t(".start_construction_label") %>
          </div>
          <div class="column-one-quarter align-right">
            <%= project.start_construction_date %>
          </div>
          <div class="column-one-quarter align-right">
            <span class="change-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :start_construction_date) do -%>
                Change<span class="visually-hidden"> the <%= t(".start_construction_label").downcase %> date</span>
              <% end -%>
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-row">
          <div class="column-one-half">
            <%= t(".ready_for_service_label") %>
          </div>
          <div class="column-one-quarter align-right">
            <%= project.ready_for_service_date %>
          </div>
          <div class="column-one-quarter align-right">
            <span class="change-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :ready_for_service_date) do -%>
                Change<span class="visually-hidden"> the <%= t(".ready_for_service_label").downcase %> date</span>
              <% end -%>
            </span>
          </div>
        </div>
      </li>
    </ol>
  <% else %>
    <div class="grid-row add-row">
      <div class="column-three-quarters">
        <h2 class="heading-medium" role="heading" id="key-dates">Important dates</h2>
      </div>
      <div class="column-one-quarter">
        <div class="add-link">
          <%= link_to pafs_core.project_step_path(id: project.to_param, step: :start_outline_business_case_date) do -%>
            Add<span class="visually-hidden"> the important dates</span>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</article>
