<article class="summary-item" aria-labelledby="key-dates">
  <% if project.key_dates_started? %>
    <div class="summary-item-content">
      <h2 class="heading-medium" role="heading" id="key-dates">Important dates</h2>
      <div class="grid-row">
        <div class="column-three-quarters">
          <table class="full-table">
            <thead>
              <tr>
                <th class="visuallyhidden">Important date</th>
                <th class="visuallyhidden">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= t(".start_outline_business_case_label") %></td>
                <td class="align-right"><%= project.start_outline_business_case_date %></td>
              </tr>
              <tr>
                <td><%= t(".award_contract_label") %></td>
                <td class="align-right"><%= project.award_contract_date %></td>
              </tr>
              <tr>
                <td><%= t(".start_construction_label") %></td>
                <td class="align-right"><%= project.start_construction_date %></td>
              </tr>
              <tr>
                <td><%= t(".ready_for_service_label") %></td>
                <td class="align-right"><%= project.ready_for_service_date %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column-one-quarter">
          <div class="change-link">
            <%= link_to pafs_core.project_step_path(id: project.to_param, step: :start_outline_business_case_date) do -%>
              Change<span class="visually-hidden"> the <%= t(".start_outline_business_case_label").downcase %></span>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="add-row">
      <div class="grid-row">
        <div class="column-three-quarters">
          <h2 class="heading-medium" role="heading" id="key-dates">Important dates</h2>
        </div>
        <div class="column-one-quarter">
          <% unless project.archived? %>
            <div class="add-link">
              <%= link_to pafs_core.project_step_path(id: project.to_param, step: :start_outline_business_case_date) do -%>
                Add<span class="visually-hidden"> the important dates</span>
              <% end -%>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</article>
