<article class="summary-item" aria-labelledby="risks">
  <% if project.risks_started? %>
    <h2 class="heading-medium" role="heading" id="risks">Risks and households benefitting</h2>
    <div class="grid-row">
      <div class="column-three-quarters">
        <ul class="summary-list list-bullet">
          <% project.selected_risks.each do |risk| %>
            <li>
              <%= t("#{risk}_label", scope: "pafs_core.projects.steps.risks") %>
              <% if @project.protects_against_multiple_risks? && @project.is_main_risk?(risk) %>
                <span class="main-risk"> - Main source of risk</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="column-one-quarter">
        <div class="change-link">
          <%= link_to pafs_core.project_step_path(id: project.to_param, step: :risks) do -%>
            Change<span class="visually-hidden"> the risks your proposed project will protect against</span>
          <% end -%>
        </div>
      </div>
    </div>
    <% if project.protects_against_flooding? %>
      <div class="grid-row">
        <div class="column-three-quarters">
          <h3 class="heading-small summary-sub-heading"><%= project.summary_label(:flooding_outcome_title) %></h3>
          <ol class="<%= class_for_summary_list(project.protects_against_coastal_erosion?) %>">
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:flooding_outcome_a) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_flooding_A %>
                </div>
              </div>
            </li>
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:flooding_outcome_b) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_flooding_B %>
                </div>
              </div>
            </li>
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:flooding_outcome_c) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_flooding_C %>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    <% end %>
    <% if project.protects_against_coastal_erosion? %>
      <div class="grid-row">
        <div class="column-three-quarters">
          <h3 class="heading-small summary-sub-heading"><%= project.summary_label(:coastal_outcome_title) %></h3>
          <ol class="summary-list underlined-items">
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:coastal_outcome_a) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_coastal_A %>
                </div>
              </div>
            </li>
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:coastal_outcome_b) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_coastal_B %>
                </div>
              </div>
            </li>
            <li>
              <div class="grid-row">
                <div class="column-three-quarters">
                  <%= project.summary_label(:coastal_outcome_c) %>
                </div>
                <div class="column-one-quarter align-right">
                  <%= project.total_for_coastal_C %>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="grid-row add-row">
      <div class="column-three-quarters">
        <h2 class="heading-medium" role="heading" id="risks">Risks and households benefitting</h2>
      </div>
      <div class="column-one-quarter">
        <div class="add-link">
          <%= link_to pafs_core.project_step_path(id: project.to_param, step: :risks) do -%>
            Add<span class="visually-hidden"> the risks your proposed project will protect against</span>
          <% end -%>
        </div>
      </div>
    </div>
  <% end %>
</article>
