<article class="summary-item" aria-labelledby="urgency">
  <% unless project.urgency_reason.nil? %>
    <h2 class="heading-medium" role="heading" id="urgency"><%= project.summary_label(:urgency_title) %></h2>
    <div class="grid-row">
      <div class="column-three-quarters">
        <% if project.urgent? %>
          <p>Your project is urgent as there is a <%= urgency_reason_text(project.urgency_reason).downcase %></p>
          <%= simple_format project.urgency_details %>
        <% else %>
          <p>Your project is not urgent</p>
        <% end %>
      </div>
      <div class="column-one-quarter">
        <% if project.draft? %>
          <div class="change-link">
            <%= link_to pafs_core.project_step_path(id: project.to_param, step: :urgency) do -%>
              Change<span class="visually-hidden"> <%= project.summary_label(:urgency_title).downcase %></span>
            <% end -%>
          </div>
        <% end -%>
      </div>
    </div>
  <% else %>
    <div class="add-row">
      <div class="grid-row">
        <div class="column-three-quarters">
          <h2 class="heading-medium" role="heading" id="urgency"><%= project.summary_label(:urgency_title) %></h2>
        </div>
        <div class="column-one-quarter">
          <div class="add-link">
            <%= link_to pafs_core.project_step_path(id: project.to_param, step: :urgency) do -%>
              Add<span class="visually-hidden"> <%= project.summary_label(:urgency_title).downcase %></span>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</article>
