<% content_for :page_title, make_page_title("Your project proposals") %>
<div id="dashboard">
  <h1 class="heading-large">Your proposals</h1>


  <% if !pso_user? %>
      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="panel panel-indent panel-border-narrow panel-border-short">
            For submission deadlines please contact your local partnership and strategic overview officer.
          </div>
        </div>
      </div>
  <% end %>


  <p></p>

  <div>
    <%= link_to t('create_a_new_project_label'), pafs_core.new_bootstrap_path, class: "button" %>
  </div>

  <p></p>

  <section>
    <table class="dashboard">
      <thead>
      <tr>
        <th scope="col" class="project-number">
          <% sort_properties_for_col = get_next_sort_order_and_curr_arrow(params[:sort_col], "reference_number", params[:sort_order], "updated_at") %>
          <%= link_to raw("National project number" + sort_properties_for_col[:curr_arrow]), pafs_core.projects_path(sort_col: "reference_number", sort_order: sort_properties_for_col[:next_sort_order]), class: "sortable-heading" %>
        </th>
        <th scope="col">
          <% sort_properties_for_col = get_next_sort_order_and_curr_arrow(params[:sort_col], "name", params[:sort_order], "updated_at") %>
          <%= link_to raw("Project name" + sort_properties_for_col[:curr_arrow]), pafs_core.projects_path(sort_col: "name", sort_order: sort_properties_for_col[:next_sort_order]), class: "sortable-heading" %>
        </th>

        <th scope="col">Created by</th>
        <th scope="col">
          <% sort_properties_for_col = get_next_sort_order_and_curr_arrow(params[:sort_col], "updated_at", params[:sort_order], "updated_at") %>
          <%= link_to raw("Last updated" + sort_properties_for_col[:curr_arrow]), pafs_core.projects_path(sort_col: "updated_at", sort_order: sort_properties_for_col[:next_sort_order]), class: "sortable-heading" %>
        </th>
        <th scope="col">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.reference_number, pafs_core.project_path(project), class: "project-link" %></td>
            <td><%= project.name %></td>
            <td><%= project.owner.name unless project.owner.blank? %></td>
            <td><%= l(project.updated_at) %></td>
            <td><%= status_label_for(project.submission_state.current_state) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="grid-row page-nav">
      <div class="column-one-third">
        <%= page_entries_info @projects %>
      </div>
      <div class="column-two-thirds">
        <div class="pagination-area">
          <%= paginate @projects, left: 0, right: 0, window: 2 %>
        </div>
      </div>
    </div>
  </section>
</div>
