<% content_for :page_title, make_page_title("Your project proposals") %>
<div id="dashboard">
  <h1 class="heading-large">Your project proposals</h1>

  <p>Submission deadline for 2018 to 2019 funding is <span class="bold-small">31 July 2017.</small></p>

  <div>
    <%= link_to t('create_a_new_project_label'), pafs_core.new_bootstrap_path, class: "button" %>
  </div>

  <div class="download-proposals-link">
    <%= link_to t('download_all_proposals_label'), pafs_core.projects_downloads_path %>
  </div>

  <section>
    <table class="dashboard">
      <thead>
        <tr>
          <th scope="col" class="project-number">National project number</th>
          <th scope="col">Project name</th>
          <th scope="col">Risk management authority</th>
          <th scope="col">Last submitted</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.reference_number, pafs_core.project_path(project), class: "project-link" %></td>
            <td><%= project.name %></td>
            <td><%= project.owner.name unless project.owner.blank? %></td>
            <td><%= l(project.submitted_at) if project.submitted_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</div>
