<h1 class="heading-large"><%= t(".heading", date: six_year_limit_date) %></h1>
<div class="step-form">
  <%= form_tag pafs_core.projects_path, method: :post do %>
    <fieldset class="inline">
      <legend class="visuallyhidden">Does your project require GiA funding before <%= six_year_limit_date %>?</legend>
      <div class="form-group">
        <label class="block-label" for="yes_or_no_yes">
          <%= radio_button_tag(:yes_or_no, "yes") %> Yes
        </label>
        <label class="block-label" for="yes_or_no_no">
          <%= radio_button_tag(:yes_or_no, "no") %> No
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <details>
        <summary>
          <span class="summary">My proposal is part of a wider project</span>
        </summary>
        <div class="panel">
          <p>If your proposed project is part of a wider project, only include local levy or FCERM grant in aid (FCERM GiA) funding required for the specific phase covered by this proposal.</p>
        </div>
      </details>
    </div>
    <%= submit_tag t("save_and_continue_label"), class: 'button' %>
  <% end %>
</div>

