<section id="project-summary" class="font-xsmall project-summary">
  <header class="summary-heading">
    <div class="grid-row">
      <div class="column-one-quarter">
        <dl>
          <dt>Project number</dt>
          <dd><%= @project.reference_number %></dd>
        </dl>
      </div>
      <div class="column-one-quarter">
        <dl>
          <dt>Last updated</dt>
          <dd><%= format_date @project.updated_at %></dd>
        </dl>
      </div>
      <div class="column-one-quarter">
        <dl>
          <dt>Last submitted</dt>
          <dd><%= @project.submission_date %></dd>
        </dl>
      </div>
      <div class="column-one-quarter">
        <ul>
          <li><%= link_to "Print overview", "#" %></li>
          <li><%= link_to "Download overview PDF", "#" %></li>
        </ul>
      </div>
    </div>
  </header>
  <% @project.articles.each do |item| %>
    <%= render partial: "summary/#{item}", locals: { project: @project } %>
  <% end %>
</section>
<p>
  <%= link_to t("submit_project_label"),
    submit_project_path(id: @project.to_param), class: "button" %>
</p>
