<% content_for :page_title, make_page_title(t("proposal_overview", scope: "page_titles")) %>
  <section id="project-summary" class="font-xsmall project-summary">
    <%= pafs_form_for @project do |f| %>
      <%= f.error_header("Check your proposal details", "", @project.articles) %>
    <header class="summary-heading">
      <div class="grid-row">
        <div class="column-one-half">
          <h1 class="heading-large">Proposal overview</h1>
        </div>
        <% if ea_user? || (pso_user? && (@project.submitted? || @project.completed?)) %>
          <div class="column-one-half">
            <div class="project-documents-download-link">
              <%= link_to "Download proposal documents", pafs_core.downloads_path(@project) %>
            </div>
          </div>
        <% end %>
      </div>
    </header>
    <section>
      <div class="grid-row">
        <div class="column-two-thirds">
          <dl class="project-overview-head">
            <dt>National project number:</dt>
            <dd><%= @project.reference_number %></dd>
            <dt>Last updated:</dt>
            <dd><%= format_date @project.updated_at %></dd>
            <dt>Status:</dt>
            <dd>
              <% if can_change_project_state? && @project.archived? %>
                <%= status_label_for(@project.status) %> | <%= link_to "Revert to draft", unlock_project_path(id: @project.to_param) %>
              <% elsif can_change_project_state? && @project.draft? %>
                <%= status_label_for(@project.status) %> | <%= link_to("Archive", pafs_core.archive_project_path(@project)) %>
              <% else %>
                <%= status_label_for(@project.status) %>
              <% end %>
            </dd>
          </dl>
        </div>
      </div>
    </section>
    <% @project.articles.each do |item| %>
      <div class="project-part">
        <%= f.form_group item do %>
          <%= f.error_message item %>
          <%= render partial: "summary/#{item}", locals: { project: @project } %>
        <% end -%>
      </div>
    <% end %>
  </section>

  <%= render partial: 'submit_project', locals: { project: @project } %>
<% end -%>
