<% content_for :page_title, make_page_title(t("proposal_overview", scope: "page_titles")) %>
<section id="project-summary" class="font-xsmall project-summary">
  <header class="summary-heading">
    <div class="grid-row">
      <div class="column-one-half">
        <%= content_tag :h1, "Project overview", class: "heading-large" %>
      </div>
      <div class="column-one-half">
        <div class="project-documents-download-link">
          <%= link_to "Download proposal documents", pafs_core.downloads_path(@project) %>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="grid-row">
      <div class="column-one-quarter">
        <%= content_tag(:span, "Project number:", class: "bold-small")%>
      </div>
      <div class="column-one-quarter">
        <%= @project.reference_number %>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-quarter">
        <%= content_tag :span, "Last submitted:", class: "bold-small" %>
      </div>
      <div class="column-one-quarter">
        <%= @project.submission_date %>
        </dl>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-one-quarter">
        <%= content_tag :span, "Last updated:", class: "bold-small" %>
      </div>
      <div class="column-one-quarter">
        <%= format_date @project.updated_at %>
      </div>
    </div>
  </section>
  <% @project.articles.each do |item| %>
    <%= render partial: "summary/#{item}", locals: { project: @project } %>
  <% end %>
</section>
<section aria-labelledby="submission">
  <h2 class="heading-medium" role="heading" id="submission">
    <%= @project.summary_label(:submission_title) %>
  </h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p><%= @project.summary_label(:submission_notice) %></p>
      <%= render partial: "summary/data_notice", locals: { project: @project } %>
      <%= link_to t("submit_project_label"),
        submit_project_path(id: @project.to_param), class: "button submit-proposal" %>
    </div>
  </div>
</section>
