<div class="govuk-box-highlight">
  <h1 class="bold-large">Your application is ready for submission</h1>
</div>
<h1 class="heading-large">Check your answers before sending your application</h1>
<p class="lede">You will not be able to submit your proposal until you have provided all required information.</p>
<section id="summary">
  <h2 class="heading-medium">Your project details</h2>
  <table>
    <tbody>
      <% # Project name ########### %>
      <tr>
        <td>Project name</td>
        <td><%= @project.name %></td>
        <td><%= link_to "Change", pafs_core.project_step_path(id: @project.to_param, step: :project_name), "aria-label": "Change the project name" %></td>
      </tr>
      <% # financial year ########### %>
      <tr>
        <td>Financial year</td>
        <td><%= @project.project_end_financial_year %></td>
        <td><%= link_to "Change", pafs_core.project_step_path(id: @project.to_param, step: :financial_year), "aria-label": "Change the financial year end of the project" %></td>
      </tr>
      <% # Key dates ########### %>
      <tr>
        <td>Key dates</td>
        <td>
          <ul>
            <li><%= @project.start_outline_business_case_date %> - Gateway 1</li>
            <li><%= @project.award_contract_date %> - Gateway 3</li>
            <li><%= @project.start_construction_date %> - Start construction</li>
            <li><%= @project.ready_for_service_date %> - Gateway 4</li>
          </ul>
        </td>
        <td><%= link_to "Change", pafs_core.project_step_path(id: @project.to_param, step: :key_dates), "aria-label": "Change the key dates" %></td>
      </tr>
      <% # Funding sources ########### %>
      <tr>
        <td>Funding sources</td>
        <td>
          <ul>
            <% @project.funding_sources.each do |fs| %>
              <li><%= fs %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to "Change", pafs_core.project_step_path(id: @project.to_param, step: :funding_sources), "aria-label": "Change the funding sources" %></td>
      </tr>
      <% # Earliest start ########### %>
      <tr>
        <td>Earliest start</td>
        <td><%= @project.early_start_date_or_no %></td>
        <td><%= link_to "Change", pafs_core.project_step_path(id: @project.to_param, step: :earliest_start), "aria-label": "Change the earliest start date" %></td>
      </tr>
    </tbody>
  </table>
</section>
