<% content_for :page_title, make_page_title(t("proposal_overview", scope: "page_titles")) %>
<section id="project-summary" class="font-xsmall project-summary">
  <%= pafs_form_for @project do |f| %>
    <%= f.error_header("Check your proposal details", "", @project.articles) %>
  <header class="summary-heading">
    <div class="grid-row">
      <div class="column-one-half">
        <h1 class="heading-large">Proposal overview</h1>
      </div>
      <div class="column-one-half">
        <div class="project-documents-download-link">
          <%= link_to "Download proposal documents", pafs_core.downloads_path(@project) %>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="grid-row">
      <div class="column-two-thirds">
        <dl class="project-overview-head">
          <dt>Project number:</dt>
          <dd><%= @project.reference_number %></dd>
          <dt>Status:</dt>
          <dd><%= status_label_for(@project.status) %></dd>
          <dt>Last updated:</dt>
          <dd><%= format_date @project.updated_at %></dd>
        </dl>
      </div>
    </div>
  </section>
  <% @project.articles.each do |item| %>
    <%= f.form_group item do %>
      <%= f.error_message item %>
      <%= render partial: "summary/#{item}", locals: { project: @project } %>
    <% end -%>
  <% end %>
  <% end -%>
</section>
<% if @project.draft? %>
  <section aria-labelledby="submission">
    <h2 class="heading-medium" role="heading" id="submission">
      <%= @project.summary_label(:submission_title) %>
    </h2>
    <div class="grid-row">
      <div class="column-two-thirds">
        <p><%= @project.summary_label(:submission_notice) %></p>
        <%= render partial: "summary/data_notice", locals: { project: @project } %>
        <%= link_to t("complete_project_label"),
          complete_project_path(id: @project.to_param), class: "button submit-proposal" %>
      </div>
    </div>
  </section>
<% elsif pso_user? && @project.completed? %>
  <section aria-label="controls">
    <div class="grid-row">
      <div class="column-two-thirds space-kids">
        <%= link_to t("submit_project_label"),
          submit_project_path(id: @project.to_param), class: "button submit-proposal" %>
        <%= link_to t("unlock_project_label"),
          unlock_project_path(id: @project.to_param), class: "button submit-proposal" %>
      </div>
    </div>
  </section>
<% elsif pso_user? && @project.submitted? %>
  <section aria-label="controls">
    <div class="grid-row">
      <div class="column-two-thirds">
        <%= link_to t("unlock_project_label"),
          unlock_project_path(id: @project.to_param), class: "button submit-proposal" %>
      </div>
    </div>
  </section>
<% end -%>
