<div class="step-container">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Project Submission completed</h1>
        <p>Your national project number is<br>
          <strong class="heading-medium"><%= @project.reference_number %></strong>
        </p>
      </div>
      <p>We sent a confirmation email to <strong class="heading-small"><%= current_resource.email %></strong></p>
      <p>If you have any questions about your project, contact your
        <%= link_to t("strategic_officer_label"), t("strategic_officer_link") %>.
        You'll need to quote the national project number.
      </p>
      <h2 class="heading-medium">What happens next</h2>
      <p>We've sent your project proposal to your local area programming team for consideration. They'll contact you if they need more information.</p>

      <h2 class="heading-medium">If you need to change your project proposal</h2>

      <p>You can make changes to the project at any time using the <%= link_to "'view project proposals'", projects_path %></p>

      <p>
        Changes made befoe the submission deadline will be considered for the
        current assessment period.
      </p>

      <p>
        Changes submitted after the deadline will not be considered for the current
        assessment period. These changes will be considered in the next assessment
        period.
      </p>

      <ul class="list list-bullet">
        <li>review and update </li>
        <li>start a <%= link_to "new project proposal", new_project_path %></li>
        <li>contact your <%= link_to t("strategic_officer_label"), t("strategic_officer_link") %> if you have a problem with your project proposal</li>
      </ul>

      <div class="form-group">
      <%= link_to "View project proposals", projects_path, class: "button", role: "button" %>
      </div>

      <div class="form-group">
        <%= link_to "What did you think of this service", "#" %> (takes 30 seconds)
      </div>
    </div>
  </div>
</div>
