<h1 class="heading-large"><%= "#{@area.name} (#{@area.area_type})" %></h1>
<% unless @area.area_type == PafsCore::Area::AREA_TYPES[0] %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <%= link_to "Up a level", pafs_core.area_path(@area.parent_id) %>
    </div>
  </div>
<% end %>
<div class="grid-row">
  <div class="column-two-thirds">
  <table class="table">
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th></th>
    </tr>
    <tbody>
      <% @children.each do |area| %>
        <tr>
          <td>
            <%= area.area_type %>
          </td>
          <td>
            <%= link_to_unless area.area_type == PafsCore::Area::AREA_TYPES[3], area.name, pafs_core.area_path(area) %>
          </td>
          <td>
            <%= link_to "Set as user area", pafs_core.set_user_area_path(area) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
